{% extends 'common/base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
  <div class="hero">
    <div class="text-center">
      <h1 class="display-3 mb-3">Welcome to FitTrack</h1>
      <p class="lead mb-4">Plan your workouts and meals effortlessly.</p>

      <p class="mb-5">
        Whether you’re just starting out or you’re a professional athlete, FitTrack adapts
        to your goals. Create custom meals and workouts, use existing ones and track your routines easily.
      </p>

      {% if user.is_authenticated and user.profile.name %}
        <p class="fw-bolder mb-4">Welcome back, {{ user.profile.name }}!</p>
        <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg me-2">
          <i class="bi bi-speedometer2 me-1"></i> Go to Dashboard
        </a>
        <a href="{% url 'profile' %}" class="btn btn-outline-light btn-lg">
          <i class="bi bi-person-circle me-1"></i> My Profile
        </a>

       {% elif user.is_authenticated %}
          <p class="fw-bolder mb-4">Welcome back, {{ user.username }}!</p>
        <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg me-2">
          <i class="bi bi-speedometer2 me-1"></i> Go to Dashboard
        </a>
        <a href="{% url 'profile' %}" class="btn btn-outline-light btn-lg">
          <i class="bi bi-person-circle me-1"></i> My Profile
        </a>

      {% else %}
        <a href="{% url 'register' %}" class="btn btn-success btn-lg me-2">
          <i class="bi bi-person-plus me-1"></i> Get Started
        </a>
        <a href="{% url 'login' %}" class="btn btn-outline-light btn-lg">
          <i class="bi bi-box-arrow-in-right me-1"></i> Log In
        </a>
      {% endif %}
    </div>
  </div>

{% endblock %}
